[slack]
api_token = "xxxx-000000000000000000000000000000000000"

[bot]
rtm_interval = 1
plugins_dir = "plugins"

[[plugins]]
module = 'plugins.logger'
name = 'Logger'
log_dir = 'log'

[[plugins]]
module = 'plugins.pingPong'
name = 'PingPong'
ping_text = 'Ping!'
pong_text = 'Pong!!!'
